.row.non-active {
    color: #5C5C5C;
}

.row--cont {
    background: #1A2029;
    border: 1px solid #12171D;
    box-sizing: border-box;
    border-radius: 6px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 23px;
    margin: 0;
    color: #FFF;
    /* flex-wrap: wrap; */
    cursor: pointer;
}

.td-1 {
    width: 57%;
    display: flex;
    align-items: center;
}

.date-container {
    display: flex;
    justify-content: center;
}

.td-2 {
    width: 26%;
    /* padding-left: 75px; */
    box-sizing: border-box;
    align-items: center;
}

.table__date {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.time {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-left: 20px;
}