.events-list {
    width: 100%;
    background-color: #12171D;
    padding: 10px;
    border-radius: 10px;
}

.caption-panel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.page-header {
    color: #FFF;
}

.table {
    background-color: #1A2029;
    padding: 10px;
}

.head-table {
    display: flex;
    justify-content: space-between;
    padding: 15px 23px;
    margin: 0;
    color: #6D7278;
    background-color: #1A2029;
}

.user-item {
    background-color:  #1A2029;
    border-radius: 10px;
}

.add-button {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
