.user-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 18%;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: flex-start;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.user-img {
    display: block;
    border-radius: 50%;
    background-color: grey;
    width: 50px;
    height: 50px;
}

.user-greet {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #62636C;
    margin-left: 20px;
}

.user-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.user-card-info {
    padding-top: 35px;
}

.user-card-info .user-container {
    display: flex;
    padding-bottom: 20px;
    align-items: flex-start;
}

.user-card-info .username-head {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #62636C;
    margin-right: 15px;
}

.user-card-info .username-data {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #6D7278;
}

.button-container {
    background: #ffffff;
    border: 1px solid #6D7278;
    box-sizing: border-box;
    border-radius: 7.5px;
    width: 28px;
    height: 14px;
    margin-left: 12px;
    cursor: pointer;
}

.toggler {
    background: #3a3;
    border-radius: 7.5px;
    width: 12px;
    height: 12px;
    display: block;
    transform: translateX(14px);
}