<section class="add-section">
    <p class="log-screen">Log screen</p>
    <ul class="add-section__list">
        <li class="add-section__item">System ready 23/10/2019 22:28:10</li>
        <li class="add-section__item">Player id=3264 draw 42 points</li>
        <li class="add-section__item">Event id=8594 started</li>
        <li class="add-section__item">Coefficient for event id=228 calculated</li>
        <li class="add-section__item">Coefficient for event id=6678 calculated</li>
        <li class="add-section__item">Player id=74 bet 24 points</li>
        <li class="add-section__item">Event id=2472 started</li>
        <li class="add-section__item">Player id=6501 bet 85 points</li>
        <li class="add-section__item">Player id=5219 draw 90 points</li>
        <li class="add-section__item">Player id=3829 bet 47 points</li>
        <li class="add-section__item">Player id=1073 draw 19 points</li>
        <li class="add-section__item">Event id=9397 started</li>
        <li class="add-section__item">Player id=4855 bet 56 points</li>
        <li class="add-section__item">Player id=4106 bet 31 points</li>
        <li class="add-section__item">Event id=7799 started</li>
        <li class="add-section__item">Event id=1140 started</li>
        <li class="add-section__item">Player id=4806 draw 85 points</li>
        <li class="add-section__item">Coefficient for event id=3440 calculated</li>
        <li class="add-section__item">Coefficient for event id=7610 calculated</li>
        <li class="add-section__item">Player id=7476 bet 63 points</li>
        <li class="add-section__item">Coefficient for event id=9972 calculated</li>
        <li class="add-section__item">Player id=9604 draw 56 points</li>
    </ul>
</section>