<div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
    <div fxFlex *ngFor="let n of news; let i = index" class="card-item">
        <news-card [ngStyle]="{'width':'300' + 'px'}" [news]="n" [index]="i"></news-card>
    </div>
</div>
<div class="paginator" *ngIf="news.length !== 0 && news.length > 15">
    <mat-paginator
        [length]="news.length"
        [pageSize]="numberOfNewsDisplayedInPage"
        [pageSizeOptions]="[12, 24]"
        (page)="updateNewsDisplayedInPage($event)"
    >
    </mat-paginator>
</div>