<div class="game-section">
  <ul class="games__list">
      <li class="game" (click)="selectGame({game: 1})">
          <img class="game__img" src="assets/img/game-logo-1.png" alt="Logo">
      </li>
      <li class="game" (click)="selectGame({game: 2})">
          <img class="game__img" src="assets/img/game-logo-2.png" alt="Logo">
      </li>
      <li class="game" (click)="selectGame({game: 3})">
          <img class="game__img" src="assets/img/game-logo-3.png" alt="Logo">
      </li>
      <li class="game" (click)="selectGame({game: 4})">
          <img class="game__img game__img--long" src="assets/img/game-logo-4.png" alt="Logo">
      </li>
      <li class="game" (click)="selectGame({game: 5})">
          <img class="game__img game__img--long" src="assets/img/game-logo-5.png" alt="Logo">
      </li>
      <li class="game" (click)="selectGame({game: 6})">
          <img class="game__img" src="assets/img/game-logo-6.png" alt="Logo">
      </li>
      <li class="game" (click)="selectGame({game: 7})">
          <img class="game__img game__img-long" src="assets/img/game-logo-7.png" alt="Logo">
      </li>
  </ul>
</div>